<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
    <div class="row justify-content-center">
      <div class="col-4 offset-1 col-sm-2">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Menu</a></li>
          <li><a href="contactus.html">Contact</a></li>
        </ul>
      </div>
      <div class="col-7 col-sm-5">
        <h5>Our Address</h5>
        <address>
          121, Fnideq Martil<br />
          Clear Water Bay, Kowloon<br />
          moafkzepofk<br />
          <i class="fa fa-phone fa-lg"></i> : +852 1234 5678<br />
          <i class="fa fa-fax fa-lg"></i> : +852 8765 4321<br />
          <i class="fa fa-envelope fa-lg"></i> : <a href=".">
            www.Hospital.com</a>
        </address>
      </div>
      <div class="col-12 col-sm-4 align-self-center">
        <div class="text-center">
          <a class="btn btn-social-icon btn-google" href="http://google.com/+"><i
              class="fa-brands fa-google fs-1"></i></a>
          <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i
              class="fa-brands fa-facebook fs-1"></i></a>
          <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i
              class="fa-brands fa-linkedin fs-1"></i></a>
          <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i
              class="fa-brands fa-twitter fs-1"></i></a>
          <a class="btn btn-social-icon btn-google" href="http://youtube.com/"><i
              class="fa-brands fa-youtube fs-1"></i></a>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <p>© Copyright 2022 Abderrahman Markaddou</p>
      </div>
    </div>
  </div>
</footer>
