<app-header-section sectionTitle="shop" sectionSlogan="slogan"></app-header-section>
<section class="shop-grid">
  <div class="container">
    <div class="header">
      <div class="left">
        <h2 class="blue-text">Ecommerce Accesories & Fashion item</h2>
        <p class="grey-text">About </p>
      </div>

      <div class="right">
        <form [formGroup]="limitForm" (change)="sumbetLimitPage()">
          <label>Per Page:</label>
          <input  formControlName="numberPage"  type="number" class="mx-2">
          <input formControlName="keywordPage" width="329px" type="text" placeholder="Search products" class="w-50 mx-2" >
        </form>
        <form >
          <label>Sort By:</label>
          <select class="mx-2" name="" id="">
            <option value="">Best Match</option>
            <option value="">Price</option>
          </select>
        </form>
        <form>
          <label>View:</label>
          <a class="mx-2" [routerLink]="['/shop-left-cart']"><i class="fas fa-list fs-3"></i></a>
          <a class="mx-2" [routerLink]="['/shop-grid']"><i class="fa-solid fa-grip fs-3"></i></a>

        </form>
      </div>
    </div>

    <div class="grid-wrapper">
      <a (click)="goToProductDetailsPage(product.id)" *ngFor="let product of products" style="cursor: pointer;">
        <div class="soft-card">
          <div class="thumbnail">
            <img class="card-img-top pt-5 mx-auto" [src]="product.thumbnail" alt=""
            style=" vertical-align: middle;
                    max-width: 200px;
                    max-height: 500px;
                    height: 200px;"
            >
          </div>
          <div class="description">
            <h3 class="blue-text">{{product.title}}</h3>
            <div class="price">
              <p class="blue-text">${{product.price}}</p>
              <p class="pink-text line-through">${{product.discountPercentage}}</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="slider-indicator">
    <span id="active"></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</section>
