<app-header-section sectionTitle="Order completed" sectionSlogan="Home . Pages . Order Completed"></app-header-section>

<section class="order-page">
  <div class="container">
      <div class="order-container">
          <img src="../../../assets/images/order completed/clock_100px.png" alt="" class="absolute">
          <img src="../../../assets/images/order completed/checklist 1.svg" alt="" class="absolute-1">
          <div>
              <img src="../../../assets/images/order completed/Vector 15.png" alt="">
              <h2 class="blue-text">Your Order Is Completed!</h2>
              <p class="grey-text">Thank you for the order! Your order is being
                  processed and will be completed within 3-6
                  hours. You will receive an email confirmation when your order is completed.
              </p>
              <button><a [routerLink]="['/shop-grid']" >Continue Shopping</a></button>
          </div>
      </div>
  </div>
</section>
