<app-header-section sectionTitle="Login" sectionSlogan="Home . Pages . Login"></app-header-section>

<section class="login-form">
  <div class="container">
      <form>
          <h2>Login</h2>
          <p class="grey-text">Please login using account detail below.</p>
          <input type="text" placeholder="Email Address">
          <input type="password" placeholder="Password">
          <a href="#" class="grey-text" id="text-left">Forgot your password?</a>
          <button>Sign In</button>
          <p class="grey-text">Don't have an Account? <a href="#" class="grey-text">Create account</a></p>
      </form>
  </div>
</section>
