<section class="shopex">
  <div class="container">
      <h2 class="main-header-text">What Shopex Offer!</h2>
      <div class="flex">
          <div class="small-card">
              <img src="../../../assets/images/free-delivery 1.png" alt="">
              <div class="text">
                  <h3 class="main-header-text">24/7 Support</h3>
                  <p class="grey-text">Lorem ipsum, dolor sit amet
                       consectetur adipisicing elit. Explicabo, aperiam.</p>
              </div>
          </div>
          <div class="small-card">
              <img src="../../../assets/images/cashback 1.png" alt="">
              <div class="text">
                  <h3 class="main-header-text">24/7 Support</h3>
                  <p class="grey-text">Lorem ipsum, dolor sit amet
                       consectetur adipisicing elit. Explicabo, aperiam.</p>
              </div>
          </div>
          <div class="small-card">
              <img src="../../../assets/images/premium-quality 1.png" alt="">
              <div class="text">
                  <h3 class="main-header-text">24/7 Support</h3>
                  <p class="grey-text">Lorem ipsum, dolor sit amet
                       consectetur adipisicing elit. Explicabo, aperiam.</p>
              </div>
          </div>
          <div class="small-card">
              <img src="../../../assets/images/24-hours-support 1.png" alt="">
              <div class="text">
                  <h3 class="main-header-text">24/7 Support</h3>
                  <p class="grey-text">Lorem ipsum, dolor sit amet
                       consectetur adipisicing elit. Explicabo, aperiam.</p>
              </div>
          </div>
      </div>
  </div>
</section>
