<section class="latest mx-3">
  <div class="container">
      <div class="flex">
          <div class="product-nav">
              <h2 class="main-header-text">Latest Products</h2>
              <div class="links">
                  <a href="" id="active">New Arrival</a>
                  <a href="">Best Seller</a>
                  <a href="">Featured</a>
                  <a href="">Special Offer</a>
              </div>
          </div>
          <div class="flex-wrapper bold-text main-header-text">
              <div class="col col-3 mx-3" *ngFor="let product of latest_products">
                  <div class="thumbnail">
                      <img style="width: 200px; height:200px" [src]="product.thumbnail" alt="">
                  </div>
                  <div class="text">
                      <p>{{product.title}}</p>
                      <div class="tag">
                          <p>${{product.price}}</p>
                          <p class="line-through pink-text">${{product.price}}</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
